<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dopamineproject">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_smile"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Quote"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".movie"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".link"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Next"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MentalTest"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainDraw" />
        <activity
            android:name=".choose"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".writeSomething"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".readJournal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DaysList"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TrackMood"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".Receiver2"
            android:theme="@style/AppTheme.NoActionBar" />
        <receiver
            android:name=".receiver1"
            android:theme="@style/AppTheme.NoActionBar" />
        <receiver
            android:name=".Receiver3"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Helpline"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Home_page"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>